<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>servletCrud</display-name>
    <servlet-name>servletCrud</servlet-name>
    <servlet-class>com.servlet.servletCrud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletCrud</servlet-name>
    <url-pattern>/servletCrud</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>servletLogin</display-name>
    <servlet-name>servletLogin</servlet-name>
    <servlet-class>com.servlet.servletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletLogin</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>produitView</display-name>
    <servlet-name>produitView</servlet-name>
    <servlet-class>com.servlet.produitView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>produitView</servlet-name>
    <url-pattern>/servletCrud/produitView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletNewsLetter</display-name>
    <servlet-name>servletNewsLetter</servlet-name>
    <servlet-class>com.servlet.servletNewsLetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletNewsLetter</servlet-name>
    <url-pattern>/servletCrud/servletNewsLetter</url-pattern>
  </servlet-mapping>
</web-app>